/**
* Basic typography style for copy text
*/
body {
	color: $text-color;
	@include font-size(17px);
	@include respond-to('xsm') {
		@include font-size(16px);
	}
}

.text-gray-light {
	color:  $gray-light !important; 
}
.text-primary {
	color: $brand-primary !important; 
}
.text-secondary {
	color: $brand-secondary !important; 
}
.text-tertiary {
	color: $brand-tertiary !important; 
}