// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables. (Globals)
// -----------------------------------------------------------------------------


//== Colors
//

$white-base:              rgba(255, 255, 255, 1) !default; // #fff
$off-white:               #f6f6f6 !default;
$black-base:              rgba(0, 0, 0, 1) !default; // #000

//## Gray colors
$gray-darker:             lighten($black-base, 13.5%) !default; // #222
$gray-dark:               lighten($black-base, 20%) !default;   // #333
$gray:                    lighten($black-base, 33.5%) !default; // #555
$gray-light:              lighten($black-base, 46.7%) !default; // #777
$gray-lighter:            lighten($black-base, 93.5%) !default; // #eee

//## Brand colors
$brand-color:             #00214A !default;
$brand-color-darker:      darken($brand-color, 15%) !default; 
$brand-color-dark:        darken($brand-color, 10%) !default; 
$brand-color-mid:         darken($brand-color, 5%) !default; 
$brand-color-light:       lighten($brand-color, 10%) !default; 
$brand-color-lighter:     lighten($brand-color, 15%) !default; 

//## brand colors for use across Bootstrap.
$brand-primary:           $brand-color !default; 
$brand-secondary:         #7F89B2 !default;
$brand-tertiary:          #A8B5ce !default;
$brand-success:           #5cb85c !default;
$brand-info:              #5bc0de !default;
$brand-warning:           #f0ad4e !default;
$brand-danger:            #d9534f !default;


//== Scaffolding
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:              $gray !default;
//** Global textual link color.
$link-color:              $off-white !default;
//** Link hover color set via `darken()` function.
$link-hover-color:        $white-base !default;
//** Link hover decoration.
$link-hover-decoration:   underline !default;

$promo-height: 2.875rem;
$header-height: 3rem;
$input-height: 42px;
$border-radius: 3px;

//== Typography
//
//## Font, Font Size
$font-primary: 'OpenSans';
$font-secondary: 'Helvetica Neue', 'Helvetica', 'Courier New', 'Monaco', monospace !default;

/// Bootstrap Official Breakpoints
$breakpoints: (
    'xsm':  ( max-width:  576px ),
    'sm':  ( min-width:  576px ),
    'md':  ( min-width:  768px ),
    'lg':  ( min-width:  992px ),
    'xl':  ( min-width: 1200px ),
    'xxl':  ( min-width: 1400px )
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://Assets/';
$base-url: '/Assets/' !default;
